// ratios
.ratio-223x234 {
  --bs-aspect-ratio: calc(234 / 223 * 100%);
}

.ratio-273x304 {
  --bs-aspect-ratio: calc(304 / 273 * 100%);
}

.ratio-41x18 {
  --bs-aspect-ratio: calc(18 / 41 * 100%);
}

// colors
.custom-bg-color {
  background-color: #050d18;
}

.bg-orange {
  background-color: #FF4820;
}

.text-gradient {
  background-image: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-custom-gradient {

  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

}
